body{
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-weight:800;
    font-size: Dancing Script;
    padding: 10px 15px 10px 25px;
    margin: auto;
}
h3{

}
p {

}